#login{
	width: 1000px;
	height: 380px;
	background-color: #fefefe;
}

.contentBox{
	width: 760px;
	height: 260px;
	margin: 0 auto;
	
}
.loginBox{
	width: 370px;
	height: 100%;
	/*background-color: yellow;*/
	vertical-align: top;
}
.imgBox{
	width: 350px;
	height: 100%;
	/*background-color: red;*/
}
.lrButtonGroup{
	margin: 0 auto;
	text-align: center;
	/*background-color: darkslategray;*/
}
.leftButton{
	width: 92px;
	height: 20px;
	background-color: #b3d9ff;
	border-radius: 2px;
	margin-right: 3px;
	font-size: 14px;
}


.rightButton{
	width: 92px;
	height: 20px;
	background-color: #eee;
	border-radius: 2px;
	margin-left: 3px;
	font-size: 14px;
}
table {
	table-layout: fixed;
	height: 170px;
	margin: 20px auto;
}

table td{
	padding: 4px;
}

.inputInfo{
	width: 55px;
	font-size: 12px;
}
.inputCellSize{
	/*width: 80%;*/
}


.inputSpace{
	width: 266px;
	background-color: #ecf5ff;
}
.inputVerify{
	width: 100px;
}
.inputVerifySpace{
	width: 100px;
	background-color: #ecf5ff;
}
.verifyImg{
}
.verifyChange{
	font-size: 12px;
	width: 180px;
	padding-left:3px ;
	vertical-align: text-top;
}
.verifyChange>a{
	color: #c10000;
}
.verifyChange>a:visited{
	color: #c10000;
}
.radiosGroup{
	font-size: 12px;
}

.radiosGroup label{
	margin-right: 13px;
}
.loginBtn{
	color: white;
}
.loginBtn>a{
	color: white;
	font-size: 14px;
}
.forgetPawBtn{
	background: #FFFFFF;
	color: #b30000;
	display: inline;
	margin: 0;
}
.forgetPawBtn>a{
	color: #b30000;
}
